<h3>Task Master</h3>

<div class="row">
    <table class="col-md-6 col-sm-6 col-xs-6 form-group ">
        <tr>
            <td><label>Project Name</label></td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                        Select a Project
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">KPHC</a></li>
                        <li><a href="#">Bank of the West</a></li>
                        <li><a href="#">test</a></li>
                    </ul>
                 </div>
            </td>
        </tr>
        <tr class="top">
            <td><label>Task Name</label></td>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <td><label>Description</label></td>
            <td><input type="text" /></td>
                </tr>
        <tr>
            <td></td>
            <td><button type="submit" class="btn btn-primary pull-left">
    <i class="icon-user icon-white"></i>Add Task</button></td>
            
        </tr>
        </table>
    <table class="table table-bordered ">
        <thead>
            <tr>
                <td>Project Name</td>
                <td>Task Name</td>
                <td>Description</td>
               <td></td>
            </tr>
        </thead>
        <tbody>
            <tr>

                <td><input type="text" /></td>
                <td><input type="text" /></td>
                <td><input type="text" /></td>
                <td><span style="color:blue" class='glyphicon glyphicon-edit'></span><span style="color:red" class='glyphicon glyphicon-remove '></span></td>
            </tr>
        </tbody>
    </table>
    <div>        

        <button type="submit" class="btn btn-primary pull-right" style="right:50px;" >
            <i class="icon-user icon-white"></i>Save
        </button>
    </div>
</div>