<h3>Client Master</h3>
<div class="row">
    <table class="col-md-6 col-sm-6 col-xs-6 form-group">
        <tr>
            <td><span>Name</span></td>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <td><span>Location</span></td>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <td><span>Status</span></td>
            <td><div class="checkbox">
    <label><input type="checkbox" value="checked">True</label>
</div>
<div class="checkbox">
    <label><input type="checkbox" value="">False</label>
</div></td>
        </tr>
    </table>
</div>
<h4>Projects</h4>

    <div class="form-group">
        <table class="col-md-6 col-sm-6 col-xs-6 table table-bordered ">
            <thead>
                <tr>
                    <td>Project Name</td>
                    <td>Detail</td>
                    <td>Strat Date</td>
                    <td>End Date</td>
                </tr>
            </thead>
            <tbody>
                <tr>

                    <td><input type="text" /></td>
                    <td><input type="text" /></td>
                    <td><input type="text" /></td>
                    <td><input type="text" /></td>
                </tr>
            </tbody>
        </table>
        <div>
            <button type="button" class="btn btn-group-sm">
                <i class="icon-user icon-white"></i> Add Project
            </button>

            <button type="submit" class="btn btn-primary">
                <i class="icon-user icon-white"></i>Save
            </button>
        </div>
    </div>
